01_softphone_token_generator.json
{
  "name": "Softphone - Token Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "softphone/token",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-token",
      "name": "Webhook - Token Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "softphone-token"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// TWILIO ACCESS TOKEN GENERATOR\n// ========================================\n// This generates a Twilio Access Token for WebRTC\n// Required: twilio npm package (install in n8n container)\n//\n// CONFIGURATION - UPDATE THESE VALUES:\nconst TWILIO_ACCOUNT_SID = 'ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx';  // Your Account SID\nconst TWILIO_API_KEY = 'SKxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx';      // API Key SID\nconst TWILIO_API_SECRET = 'your_api_secret_here';                  // API Key Secret\nconst TWIML_APP_SID = 'APxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx';       // TwiML App SID\nconst TOKEN_TTL = 3600; // Token validity in seconds (1 hour)\n\n// Get request data\nconst body = $input.first().json.body || $input.first().json;\nconst identity = body.identity || body.email || 'anonymous';\nconst userId = body.userId || '';\nconst userName = body.userName || '';\n\n// Validate input\nif (!identity) {\n  return {\n    json: {\n      error: 'Identity is required',\n      success: false\n    }\n  };\n}\n\n// Simple JWT-like token generation (for demo)\n// In production, use the twilio package\nconst header = {\n  alg: 'HS256',\n  typ: 'JWT',\n  cty: 'twilio-fpa;v=1'\n};\n\nconst now = Math.floor(Date.now() / 1000);\n\nconst payload = {\n  jti: `${TWILIO_API_KEY}-${now}`,\n  iss: TWILIO_API_KEY,\n  sub: TWILIO_ACCOUNT_SID,\n  exp: now + TOKEN_TTL,\n  grants: {\n    identity: identity,\n    voice: {\n      incoming: {\n        allow: true\n      },\n      outgoing: {\n        application_sid: TWIML_APP_SID\n      }\n    }\n  }\n};\n\n// Base64URL encode\nfunction base64UrlEncode(obj) {\n  const str = JSON.stringify(obj);\n  const base64 = Buffer.from(str).toString('base64');\n  return base64.replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=/g, '');\n}\n\n// Create signature\nconst crypto = require('crypto');\nconst headerEncoded = base64UrlEncode(header);\nconst payloadEncoded = base64UrlEncode(payload);\nconst signatureInput = `${headerEncoded}.${payloadEncoded}`;\nconst signature = crypto\n  .createHmac('sha256', TWILIO_API_SECRET)\n  .update(signatureInput)\n  .digest('base64')\n  .replace(/\\+/g, '-')\n  .replace(/\\//g, '_')\n  .replace(/=/g, '');\n\nconst token = `${headerEncoded}.${payloadEncoded}.${signature}`;\n\nreturn {\n  json: {\n    token: token,\n    identity: identity,\n    userId: userId,\n    userName: userName,\n    expiresIn: TOKEN_TTL,\n    success: true\n  }\n};"
      },
      "id": "generate-token",
      "name": "Generate Twilio Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-token",
      "name": "Respond with Token",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [690, 300]
    }
  ],
  "connections": {
    "Webhook - Token Request": {
      "main": [
        [
          {
            "node": "Generate Twilio Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Twilio Token": {
      "main": [
        [
          {
            "node": "Respond with Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "TeepTrak"
    },
    {
      "name": "Softphone"
    }
  ],
  "triggerCount": 1,
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
